<!-- <h1>Hello {{ username }}</h1>

<p>
    Click here to verify:
    <a href="{{ verification_link }}">
        Verify Account
    </a>
</p> -->
<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background: url() 
              no-repeat center center fixed;
        }

        .container {
            text-shadow: 10px 10px 10px #020c0f;
            background: linear-gradient(to right, #faf6f688, #ffffff1d);
            color: rgb(14, 21, 162);
            padding-bottom: 50px;
            padding-left: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>{{ Welcome To Douge JOnes }}</h1>
        </header>

        <main>
            <p>{{ HI, user }}</p>
            <p>{{ Welcome to Doug jones for alabama,  }}</p>
            <p>Best regards, <br>{{ Anand A }}</p>
        </main>

        <footer>
            This email was sent from <i>anand.a@digicollect.com</i>.
        </footer>
    </div>
</body>

</html>